[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "funcMapper"]
	path = funcMapper
	url = https://github.com/antoniof1704/funcmapper
